@import '../../scss/shared';

.about {
    @extend .pages-style;
}

.about-second-sec {
    width: 100%;
    height: 100vh;
    display: flex;

    .left-text,
    .right-imgs {
        width: 50%;
    }

    .left-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #6F6F8A;
        padding: 9vw 7vw;

        h1 {
            font-size: 2.3vw;
            color: white;
            font-weight: 450;
        }

        p {
            color: #DDDDDE;
            margin: 2vw 0;
            font-weight: 300;
            line-height: 1.6vw;
            word-spacing: 0.1vw;
        }

        button {
            padding: 1vw;
            width: 30%;
            font-size: 1.1vw;
            font-weight: 450;
            color: white;
            background-color: #8AD144;
            border: 1px solid #8AD144;
            border-radius: 5px;
        }
    }

    .right-imgs {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }

        display: grid;
        grid-template-areas: "a a c"
        "a a c"
        "b b c"
        "b b c"
        ;
        grid-template-columns: 1fr 1fr 1fr;

        .a {
            grid-area: a;
        }

        .b {
            grid-area: b;
        }

        .c {
            grid-area: c;
        }
    }
}

.about-third-sec {
    width: 100%;
    display: flex;
    justify-content: center;

    .third-container {
        text-align: center;
        width: 70vw;
        padding: 5vw 0;

        .meet {
            font-size: 2.5vw;
            color: #30304E;
            font-weight: 500;
        }

        .branch {
            font-size: 2.5vw;
            color: #6F6F8A;
            font-weight: 400;
        }

        .images {
            border-bottom: 1px solid #DADAE1;
            width: 100%;
            padding: 5vw 0;
            display: flex;
            justify-content: space-between;
            gap: 1.5vw;
            div {
                img {
                    width: 100%;
                    height: 55vh;
                    margin-bottom: 3vw;
                }
                h1{
                    color: #30304E;
                    font-size: 2vw;
                    font-weight: 500;
                }
                p{
                    font-size: 1.3vw;
                    color: #6F6F8A;
                }
            }
        }

        .skills{
            display: flex;
            justify-content: space-between;
            padding-top: 5vw;
            .skill{
                display: flex;
                align-items: flex-start;
                gap: 1.5vw;
                div{
                    text-align: left;
                    p:first-child{
                        color: #30304E;
                        font-size: 4vw;
                        font-weight: 600;
                    }
                    p:last-child{
                        color: #6F6F8A;
                        font-size: 1.2vw;
                    }
                }
                img{
                    width: 4vw;
                    height: 4vw;
                }
            }
        }
    }
}