@import '../../scss/shared';

.contact{
    @extend .pages-style;
}
.google-map{
    width: 100%;
    height: 100vh;
}

.contact-second-sec{
    width: 100%;
    display: flex;
    justify-content: center;

    .contact-form{
        width: 70vw;
        display: flex;
        justify-content: space-between;
        padding: 7vw 0;
        gap: 2vw;
        h1{
            margin-bottom: 3vw;
            color: #30304E;
        }

        .get-in-touch{
            width: 70%;
            form{
                input, textarea{
                    width: 100%;
                    padding: 1vw;
                    margin-bottom: 1.5vw;
                    background-color: #F6F6F6;
                    border: 1px solid white;
                    border-radius: 5px;
                }
                textarea{
                    min-width: 100%;
                    max-width: 100%;
                    min-height: 200px;
                }
                div{
                    display: flex;
                    justify-content: space-between;
                    gap: 2vw;
                    input{
                        width: 50%;
                    }
                }
            }
            button{
                padding: 1vw 1.5vw;
                border: 1px solid white;
                border-radius: 5px;
                color: white;
                background-color: #8AD144;
                p{
                    font-size: 1vw;
                }
            }
        }
    
        .contact-details{
            width: 30%;
                    p.date1,
                    .date2{
                        color: #6F6F8A;
                            font-size: 1vw;
                            font-weight: 300;
                            margin-top: 0.3vw; 
                        }
                        p.date1{
                            margin-top: 1.5vw;
                        }
                    div{
                        display: flex;
                        align-items: center;
                        gap: 1vw;
                        margin-bottom: 0.7vw;
                        .contact-icon{
                            color: #30304E;
                            font-size: 1.5vw;
                        }
                        p{
                            color: #6F6F8A;
                            font-size: 1vw;
                            font-weight: 300;
                        }
                    }
                }
    }
}

@media (min-width:480px) and (max-width:992px) {
    .contact-second-sec{

    .contact-form{
        width: 100vw;
        flex-direction: column;
        padding: 12vw 3vw;
        gap: 4vw;
        h1{
            margin-bottom: 5vw;
        }

        .get-in-touch{
            width: 100%;
            form{
                input{
                    width: 100%;
                    padding: 1.5vw;
                    margin-bottom: 2vw;
                }
                div{
                    flex-direction: column;
                    gap: 0;
                    input{
                        width: 100%;
                    }
                }
            }
            button{
                padding: 2vw 3vw;
                p{
                    font-size: 2vw;
                }
            }
        }
    
        .contact-details{
            width: 100%;
                    p.date1,
                    .date2{
                            font-size: 1.8vw;
                            margin-top: 0.5vw; 
                        }
                        p.date1{
                            margin-top: 4vw;
                        }
                    div{
                        gap: 2vw;
                        margin-bottom: 2vw;
                        .contact-icon{
                            font-size: 2.5vw;
                        }
                        p{
                            font-size: 1.8vw;
                        }
                    }
                }
    }
}
}

@media (max-width:479px) {
  .contact-second-sec{

    .contact-form{
        width: 100vw;
        flex-direction: column;
        padding: 15vw 3vw;
        gap: 8vw;
        h1{
            margin-bottom: 8vw;
        }

        .get-in-touch{
            width: 100%;
            form{
                input{
                    width: 100%;
                    padding: 2.5vw;
                    margin-bottom: 4vw;
                }
                div{
                    flex-direction: column;
                    gap: 0;
                    input{
                        width: 100%;
                    }
                }
            }
            button{
                padding: 3vw 4vw;
                p{
                    font-size: 3.5vw;
                }
            }
        }
    
        .contact-details{
            width: 100%;
                    p.date1,
                    p.date2{
                            font-size: 3vw;
                            margin-top: 1vw; 
                        }
                        p.date1{
                            margin-top: 5vw;
                        }
                    div{
                        gap: 2vw;
                        margin-bottom: 3vw;
                        .contact-icon{
                            font-size: 4vw;
                        }
                        p{
                            font-size: 3vw;
                        }
                    }
                }
    }
}
}