@import '../../scss/shared';

.container {
    width: 100%;

    .home {
        @extend .pages-style;

        .second-sec {
            position: absolute;
            bottom: -9%;
            width: 75vw;
            background-color: white;
            border-radius: 8px;
            padding-left: 2.2vw;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

            .filter form {
                display: flex;
                justify-content: space-between;

                .location,
                .prop-type,
                .Bedrooms,
                .Bathrooms {
                    width: 25%;
                    padding: 1.5vw;

                    label {
                        margin-bottom: 1vw;
                        display: flex;
                        color: grey
                    }
                }

                select {
                    padding: 5px 10px;
                    border-radius: 5px;
                    background-color: white;
                    font-size: 16px;
                }
            }

            .searchBtn {
                padding: 0 4vw;
                background-color: #8AD144;
                border: 1px solid white;
                border-top-right-radius: 8px;
                border-bottom-right-radius: 8px;
                color: white;
                gap: 1vw;
                font-size: 1.5vw;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

    }

    .third-sec {
        width: 100%;
        display: flex;
        justify-content: center;

        #homeCards {
            width: 75vw;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin: 10% 0 5%;
        }

    }

    .fourth-sec {
        width: 100%;
        position: relative;

        .fourth-sec-container {
            overflow: hidden;



            img {
                width: 100%;
                height: 100vh;
                object-fit: cover;
                object-position: right;
            }

        }

        .fourth-sec-carusel {
            position: absolute;
            top: 50%;
            width: 100%;
            display: flex;
            justify-content: center;

            .carusel {
                width: 75vw;
                display: flex;
                justify-content: flex-end;

            }
        }
    }

    .fifth-sec {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60vh;
        background-color: #30304E;

        .input {
            text-align: center;
            height: 60%;

            p {
                padding: 1vw 0;
                font-size: 1.5vw;
                color: white;
            }

            form {
                margin-top: 1vw;

                input {
                    width: 25vw;
                    margin-right: 2vw;
                    padding: 1.1vw;
                    border: 1px solid white;
                    border-radius: 5px;
                    &::placeholder{
                        font-size:1.1vw ;
                    }
                }

                button {
                    width: 12.5vw;
                    padding: 0.9vw;
                    border: 1px solid #8AD144;
                    border-radius: 5px;
                    background-color: #8AD144;
                    span{
                        color: white;
                        font-size: 1.2vw;
                    }
                }
            }
        }
    }
}