.navbar {
    width: 95vw;
    margin-top: 2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    z-index: 999;
    position: relative;

    img {
        margin-left: 2vw;
        width: 10vw;
    }

    i {
        span{
            display: none;
        }
        .menuIcon {
            display: none;
        }
    }

    .links {
        width: 50%;
        display: flex;
        justify-content: space-around;
        font-size: 1.5vw;
        font-weight: bolder;
        list-style-type: none;
        cursor: pointer;

        li a {
            text-decoration: none;
            color: #222F57;
        }
    }
}

@media(min-width:481px) and (max-width:768px) {
    .navbar {
        overflow: hidden;

        img {
            width: 14vw;

        }

        i {
            display: flex;
            align-items: center;
            margin-right: 2vw;
            gap: 0.5vw;

            .menuIcon {
                display: block;
            }

            span {
                display: block;
                font-size: 2.5vw;
                font-weight: 500;
            }
        }

        .links {
            display: none;
        }
    }
}

@media(max-width:480px) {
    .navbar {
        margin-top: 5vw;
        overflow: hidden;

        img {
            width: 20vw;
        }

        i {
            display: flex;
            align-items: center;
            margin-right: 2vw;
            gap: 0.5vw;
            span{
                display: block;
            }

            .menuIcon {
                display: block;
            }

            span {
                font-size: 2.5vw;
                font-weight: 500;
            }
        }

        .links {
            display: none;
        }
    }
}